In [1]:
import pandas as pd
import os

In [2]:
os.listdir('../data')

['train_quality_data.csv',
 'train_problem_data.csv',
 'test_err_data.csv',
 'sample_submission.csv',
 'test_quality_data.csv',
 'train_err_data.csv']

In [6]:
pbTrain = pd.read_csv("../data/train_problem_data.csv")

In [11]:
pbTrain.sort_values('user_id').reset_index(drop=True)

      user_id            time
0       10001  20201113190000
1       10004  20201104120000
2       10005  20201113120000
3       10006  20201110180000
4       10006  20201110170000
...       ...             ...
5424    24983  20201123230000
5425    24984  20201130150000
5426    24990  20201121170000
5427    24997  20201115150000
5428    24998  20201110210000

[5429 rows x 2 columns]

In [8]:
pbTest = pd.read_csv("../data/sample_submission.csv")

In [9]:
pbTest

       user_id  problem
0        30000        0
1        30001        0
2        30002        0
3        30003        0
4        30004        0
...        ...      ...
14994    44994        0
14995    44995        0
14996    44996        0
14997    44997        0
14998    44998        0

[14999 rows x 2 columns]